 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 240px;
    background: #77e63f;
    border-right: 1px solid #e5e7eb;
    padding: 24px 14px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #111827;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 6px;
}

.sidebar a {
    display: block;
    padding: 12px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: #374151;
    font-size: 15px;
    transition: all 0.15s ease;
}
.sidebar a:hover {
    background: #e8f3f5;
    font-weight: 600;
}

.sidebar a.active {
    background: #d7eef1;
    font-weight: 700;
}
/* ================= MAIN ================= */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}
.content {
    flex: 1;
    padding: 24px;
    background-color: white;
}
.header {
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;

    padding: 0 24px;
}

.header h1 {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin: 0;
}

/* khu vực user */
.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

/* chữ xin chào */
.user-info span {
    font-size: 14px;
    color: #374151;
}

/* nút logout */
.header button.logout {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: #ef4444;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.header button.logout:hover {
    background-color: #dc2626;
}